'atom-text-editor[data-grammar="source postscript"], .postscript-preview':
	"ctrl-shift-m": "postscript:toggle-preview"

".platform-darwin .postscript-preview":
	"cmd-=": "postscript:zoom-in"
	"cmd--": "postscript:zoom-out"

".platform-linux .postscript-preview,
 .platform-win32 .postscript-preview":
	"ctrl-+": "postscript:zoom-in"
	"ctrl--": "postscript:zoom-out"
