@import "ui-variables";

.icon-ghostscript::before{
	font: 15px file-icons;
	content: "\ea8f";
	top:  2px;
	left: 1px;
}

.postscript-preview{
	overflow: auto;
	
	.zoom-layer{
		transition: .25s ease transform;
		
		&.zooming{
			overflow: hidden;
		}
	}
	
	img{
		width: calc(100% - 4em);
		display: block;
		pointer-events: none;
		background-color: #fff;
		box-shadow: 0 .5em 1.25em -0.25em #000;
		margin: 1em;
	}
}
